extends ../layout.pug

block content
	script(src='/app/controllers/post-update-controller.js')
	link(rel='stylesheet', href='/resources/css/custom-post-update.css')
	div(ng-controller='updatePostController')
		form(name='update-post-form')
			div
				input(type='hidden' name='_id' ng-model='_id')
				div
					label(for='title') Title: 
					input(type='text' class='form-control' ng-model='title' name='title' required)
				div
					label(for='topic') Topic: 
					input(type='text' class='form-control' ng-model='topic' name='topic' required)
			div(class='post-content')
				label(for='content' align='center') Post Content: 
				textarea(class='form-control' ng-model='content' rows='12' name='content' required)
			br
			div(class='text-center')
				input(type='submit' value='Update Post' class='btn btn-primary' ng-click='updatePostSubmitFn()')
