.post-title {
	color: blue;
	font-family: Georgia, serif;
	text-align: center;
}

.post-header {
	color: navy;
	overflow: auto;
	margin-left: 2%;
	margin-right: 2%;
}

.post-topic {
	float: left;
}

.post-user {
	float: right;
}

.post-content {
	white-space: pre-wrap;
	word-break: normal;
}

.center-div {
	text-align: center;
}

.panel-body {
	color: black;
}

.menu-right-align {
	margin-left: 90%;
	margin-top: -7%;
}